body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vsebina {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  background-color: #FFFF99;
  margin-bottom: 1em;
}

#sporocila {
  width: 85%;
  float: left;
  height: 300px;
  overflow: auto;
  background-color: #FFFFCC;
  margin-bottom: 1em;
  margin-right: 10px;
}

#tabel{
  float: right;
  width: 15%;
}

#seznam-kanalov {
  float: right;
  width: 100%;
  height: 148px;
  overflow: auto;
}

#seznam-uporabnikov {
  float: right;
  width: 100%;
  height: 148px;
  overflow: auto;
  bottom:0px;
  right:0px;
}

#seznam-kanalov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 79%;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}